:root {
  --fg: 28, 28, 28;
  --bg: 234, 206, 171;
  --accent: 98, 97, 70;
  color: rgb(var(--fg));
  background-color: rgb(var(--bg));
  --font-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  --font-mono: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

:root[data-theme="dark"] {
  --fg: 234, 206, 171;
  --bg: 28, 28, 28;
  --accent: 28, 28, 28;
}

* { margin: 0; }
*, *::before, *::after { box-sizing: border-box; }

html, body { height: 100%; }
button { padding: 0.2rem 0.8rem; }

body {
  line-height: 1.5;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select { font: inherit; }
p, h1, h2, h3, h4, h5, h6 { overflow-wrap: break-word; }
